{% extends 'baseback.html.twig' %}

{% block title %}Modifier la Réponse{% endblock %}

{% block body %}
    <h1>Modifier la Réponse</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('reponse_index', {'questionId': reponse.question.id}) }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
