{% extends 'baseback.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}
{% block body %}
  <div style="margin-top: 100px;">
    <div class="container">
        <h1>Ajouter une catégorie</h1>
        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
