{% extends 'basestudent.html.twig' %}

{% block title %}ProfileStudent{% endblock %}

{% block body %}


   <section class="feature_area section_gap_top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="main_title">
            <h2 class="mb-3">Espace Etudiant</h2>
            <p>
              Votre Portail d’Apprentissage & Bien-être
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-student"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Environnement </h4>
              <p>
                un environnement dédié à votre réussite académique et personnelle.
                Cet espace est conçu pour vous offrir une expérience fluide et enrichissante
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Cours</h4>
              <p>
                ici, vous pouvez accéder facilement à vos cours, gérer votre emploi du temps, consulter vos notes
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-earth"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Psychologie</h4>
              <p>
                Mais la réussite ne se limite pas aux études ! Votre bien-être mental est tout aussi important. 
                C’est pourquoi nous mettons à votre disposition des ressources en psychologie et développement personnel
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
        
        

{% endblock %}
